@page "/players"
@inject NavigationManager navmanager
@inject PlayerService PlayerService

<h1>Players</h1>
<button class="button btn btn-outline-primary" @onclick="showhidePage">@(showhide ? "Show AddForm" : "Hide AddForm")</button>
<EditForm hidden="@showhide" Model="player" OnValidSubmit="SavePlayer">
    <div class="row my-3">
        <label for="name" class="col-sm-2 col-form-label">
            Player name
        </label>
        <div class="col-sm-6">
            <InputText id="name" class="form-control"
                       @bind-Value="player.Name" />
        </div>
    </div>

    <div class="row my-3">
        <label for="country" class="col-sm-2 col-form-label">
            Country
        </label>
        <div class="col-sm-6">
            <InputText id="country" class="form-control"
                       @bind-Value="player.Country" />
        </div>
    </div>

    <div class="row my-3">
        <label for="points" class="col-sm-2 col-form-label">
            Points
        </label>
        <div class="col-sm-6">
            <InputNumber id="points" class="form-control"
                       @bind-Value="player.Points" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</EditForm>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Rank</th>
            <th>Name</th>
            <th>County</th>
            <th>Points</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in PlayersList)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.Rank</td>
                <td><a href ="edit/@x.Id">@x.Name</a></td>
                <td>@x.Country</td>
                <td>@x.Points</td>
                <td>
                    <button type="button" class="btn btn-secondary" @onclick="() => DeletePlayer(x.Id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"></path>
                        </svg>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    public PlayerViewModel player { get; set; } = new PlayerViewModel();

    public List<Player> PlayersList { get; set; } = new List<Player>();

    protected override async Task OnInitializedAsync()
    {
        PlayersList = (await PlayerService.GetPlayers()).ToList();
    }

    private async Task DeletePlayer(int id)
    {
        await PlayerService.DeletePlayer(id);
        PlayersList = (await PlayerService.GetPlayers()).ToList();
    }

    private bool showhide = true;

    private void showhidePage()
    {
        showhide = !showhide;
    }

    private async Task SavePlayer()
    {
        await PlayerService.AddPlayer(player);
        PlayersList = (await PlayerService.GetPlayers()).ToList();
    }
}
